body {
    background-color: rgb(70, 20, 245);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    display: flex;
    font-size: 70%;
}
.login {
    text-align: right;
    flex-basis: 70%;
}
input {
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 165, 2);
    border: 0px;
    font-size: 100%;
}
h1 {
    font-size: 100%;
}

a:visited {
    color: rgb(255, 255, 255);
}